@page
@model BikeToWork.Pages.BikeRides.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BikeRide</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BikeRide.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BikeRide.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BikeRide.ParticipantId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BikeRide.ParticipantId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BikeRide.Distance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BikeRide.Distance)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.BikeRide?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
