@page
@model BikeToWork.Pages.BikeRides.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<div>
    <form method="get">
        <div class="form-actions no-color" style="max-width: 15%; display: inline-block;">
            <select onchange="this.form.submit()" asp-for="viewBikeRide.FullName" name="filter" class="form-control">
                <option value="">---Filter by Participant---</option>
                @foreach (var person in Model.listOfParticipants)
                {
                    <option>@String.Concat(person.firstName + " " + person.lastName)</option>
                }
                <option value="">All Participants</option>
            </select>
        </div>
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.listOfViewBikeRides[0].date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.listOfViewBikeRides[0].FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.listOfViewBikeRides[0].Distance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.listOfViewBikeRides[0].participantId)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.viewBikeRidesQueryable)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Distance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.participantId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>



