@page
@model BikeToWork.Pages.Participant.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h3>Registration of Participants</h3>

<form asp-page="./Index" method="get">
    <div class="form-actions no-color" style="width:fit-content; display: inline-block;">
        <select onchange="this.form.submit()" asp-for="ViewParticipant.FirstName" name="filter" class="form-control">
            <option value="" disabled selected>---Filter by Bike Class---</option>
            @foreach (var bikeclass in Model.ListOfBikeClasses)
            {
                <option>@bikeclass</option>

            }
            <option value="">All bike classes</option>
        </select>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ListOfViewParticipant[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListOfViewParticipant[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListOfViewParticipant[0].Team)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListOfViewParticipant[0].BikeClass)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListOfViewParticipant[0].TotalBikeRides)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var person in Model.ListOfViewParticipant)
        {
            <tr style="vertical-align:middle">
            <td>
                @Html.DisplayFor(modelItem => person.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => person.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => person.Team)
            </td>
            <td>
                <bike-img Image-bike="@person.BikeClass"></bike-img>
                @Html.DisplayFor(modelItem => person.BikeClass)
            </td>
            <td>
                @Html.DisplayFor(modelItem => person.TotalBikeRides)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@person.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@person.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@person.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
<h5>
    <a asp-page="Create">Create new Participant</a>
</h5>
