@page
@model BikeToWork.Pages.Participant.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h3>Registration of Participants</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ListOfParticipants[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListOfParticipants[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListOfParticipants[0].Team)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListOfParticipants[0].BikeClass)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var person in Model.ListOfParticipants)
        {
            <tr style="vertical-align:middle">
            <td>
                @Html.DisplayFor(modelItem => person.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => person.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => person.Team)
            </td>
            <td>
                <bike-img Image-bike="@person.BikeClass"></bike-img>
                @Html.DisplayFor(modelItem => person.BikeClass)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@person.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@person.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@person.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
<h5>
    <a asp-page="Create">Create new Participant</a>
</h5>
