@page
@model BikeToWork.Pages.Highscores.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="text-center" >
    <img src="~/images/Podium.jpg" style="max-height: 200px; max-width: 100%"  />
</div>
<div class="text-center">
    <h3>Highcores of <strong >Bike To Work</strong></h3>
    <form method="get">
        <div class="form-actions no-color" style="max-width: 15%; display: inline-block;">
            <select onchange="this.form.submit()" asp-for="participant.bikeClass" name="filter" class="form-control">
                <option>---Filter by Bike Class---</option>
                @foreach (var bikeClass in Model.listOfBikeClasses)
                {
                    <option>@bikeClass</option>
                }
                <option value="">All bike classes</option>
            </select>
        </div>
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Ranking
            </th>
            <th>
                Name of Participant
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="totalDistance">
                    @Html.DisplayNameFor(modelItem => Model.listOfViewParticipant[0].totalDistance)
                </a>
                <arrow-tag id="arrow-distance" class="arrow-class"></arrow-tag>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="numberOfBikeRides" >
                @Html.DisplayNameFor(modelItem => Model.listOfViewParticipant[0].totalBikeRides)
                </a>
                <arrow-tag id="arrow-rides" class="arrow-class"></arrow-tag>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="averageDistance">
                @Html.DisplayNameFor(modelItem => Model.listOfViewParticipant[0].averageDistance)
                </a>
                <arrow-tag id="arrow-average" class="arrow-class"></arrow-tag>
            </th>
            <th>
                <div>
                    <label asp-for="participant.bikeClass" class="control-label"></label>
                    <span asp-validation-for="participant.bikeClass" class="text-danger"></span>
                </div>
            </th>
            <th>
                
            </th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.listOfViewParticipant.Count(); i++)
        {
            <tr style="vertical-align:middle">
                <td>
                @if (i < 3)
                {
                    <img style="height:70px" src=@($"images/{i+1}Place.jpg")>
                }
                else
                {
                    <img style="height:70px" src=@("images/NoMedal.jpg")>
                }
                </td>
                <td>
                @String.Concat(Model.listOfViewParticipant[i].firstName, " ", Model.listOfViewParticipant[i].lastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.listOfViewParticipant[i].totalDistance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.listOfViewParticipant[i].totalBikeRides)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.listOfViewParticipant[i].averageDistance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.listOfViewParticipant[i].bikeClass)
                </td>
                <td>
                    <bike-img image-bike="@Model.listOfViewParticipant[i].bikeClass"></bike-img>
                </td>
            </tr>
        }
    </tbody>
</table>

